<!DOCTYPE html>
<html>
<head lang="tr">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kahveci Efendi - Sipariş</title>
	<link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/kahveci-efendi.css">
    <script type="text/javascript" data-main="/resources/js/run-kahveci-efendi"
        src="/resources/bower_components/requirejs/require.js"></script>
</head>
<body class="pure-skin-theme" id="kahveciEfendiApp" ng-controller="OrderCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Kahveci Efendi</span>

    </div>
     <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
        	<a class="logout" href="reports.html">Raporlar</a>
            <a class="logout" href="#" ng-click="logout()">Çıkış</a>
        </div>
    </div>

</header>

<main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>

    <error-messages></error-messages>

    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
    <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>
    
	<div style="padding-top:10px">Merhaba {{vm.userName}}</div>
	
	<div>
	  <p>İçeceğinizi seçiniz:</p>
	  <ul>
	    <li ng-repeat="item in vm.items" ng-show="item.itemType === 'Beverage'">
	    	<input ng-model="vm.orderItem.beverage" type="radio" ng-value="item" 
	    		ng-change="showPrice()" ng-disabled="vm.orderResult != null"> {{ item.name }} - {{item.price}} TL<br>  
	    </li>
	  </ul>
	  
	   <p>Eklentileri seçiniz:</p>
	  <ul>
	    <li ng-repeat="item in vm.items" ng-show="item.itemType === 'Addition'">
	    	<input ng-model="item.selected" type="checkbox" 
	    		ng-change="addToOrderItem(item)" ng-disabled="vm.orderResult != null"> {{ item.name }} - {{item.price}} TL<br>  
	    </li>
	  </ul>
	</div>
  	
    <div class="form-separator"></div>
    
    <div style="height:40px">
     <table ng-show="vm.orderItem.beverage">
      	<tr>
      		<td>{{vm.orderItem.beverage.name}}</td>
      		<td><span ng-repeat="item in vm.orderItem.additions">{{item.name}}  </span></td>
      		<td>{{vm.orderItem.totalPrice}} TL</td>
      	</tr>
      </table>
    </div>

    <div class="main-controls">
        <button type="submit" style="float: right" class="pure-button pure-button-primary" 
        	ng-click="addToBasket(vm.orderItem)" ng-disabled="vm.orderResult != null">Sepete Ekle</button>
        <button type="reset" style="float: right" class="pure-button" ng-click="clear()" ng-disabled="vm.orderResult != null">Temizle</button>
    </div>
    
    <div>
      <p>Sepetiniz:</p>
      
      <div class="form-separator"></div>
      
      <table>
      	<tr ng-repeat="item in vm.order.items">
      		<td>{{item.beverage.name}}</td>
      		<td><span ng-repeat="addtItem in item.additions">{{addtItem.name}}  </span></td>
      		<td>{{item.totalPrice}} TL</td>
      	</tr>
      </table>
      
      <div class="form-separator"></div>
      
      <div style="padding-top:15px">
	      <table>
	        <tr></tr>
	      	<tr>
	      		<td><h2 style="float: right">Toplam: {{vm.orderTotal}} TL</h2></td> 
	      	</tr>
	      	<tr ng-show="vm.orderTotal > 0">
	      		<td><button type="submit" style="float: right" class="pure-button pure-button-primary" ng-hide="vm.orderResult"
	      		ng-click="calculateDiscount(vm.order)">Siparişi Oluştur</button></td>
	      	</tr>
	      </table>
	  </div>
    </div>
    
    <div ng-show="vm.discountType">
    
    <table>
      	<tr>
      		<td ng-show="vm.discountType === 'None'">Herhangi bir indirim uygulanmamıştır.</td>
      		<td ng-show="vm.discountType === 'WholeBasketDiscount'">12 TL üzeri siparişe % 25 indirim uygulanmıştır.</td>
      		<td ng-show="vm.discountType === 'CheapestOneFreeDiscount'">3 ve üzeri içecek alımına bir içecek bedava indirimi uygulanmıştır.</td>
      		<td><span style="float: right">Toplam ödemeniz: {{vm.totalPay}} TL</span></td>
      	</tr>
      	<tr>
      		<td colspan="2">
	      	  <button type="submit" style="float:right" class="pure-button pure-button-primary" ng-hide="vm.orderResult"
	      ng-click="saveOrder(vm.order)">Siparişi Tamamla</button></td>
      	</tr>

      </table>
      
    </div>
    
     <div class="form-separator"></div>
     
     <div style="padding-top:15px; padding-bottom:50px" ng-show="vm.orderResult">
      		{{vm.orderResult}} nolu siparişiniz oluşturulmuştur.
      		
      		<button type="submit" style="float:right" class="pure-button pure-button-primary" 
      		ng-click="newOrder()">Yeni Sipariş</button>
     </div>


</main>

</body>
</html>
